<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="pharmacy.model.Customers" alias="Customers"/>
        <typeAlias type="pharmacy.model.Addresses" alias="Addresses"/>
        <typeAlias type="pharmacy.model.Doctors" alias="Doctors"/>
        <typeAlias type="pharmacy.model.Prescription_items" alias="Prescription_items"/>
        <typeAlias type="pharmacy.model.Medicine_orders" alias="Medicine_orders"/>
    </typeAliases>

         <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>


    <mappers>
        <mapper resource="xmlFiles/Customers.xml"/>
        <mapper resource="xmlFiles/Address.xml"/>
        <mapper resource="xmlFiles/Doctors.xml"/>
        <mapper resource="xmlFiles/Medicine_orders.xml"/>
        <mapper resource="xmlFiles/Prescription_items.xml"/>
    </mappers>
</configuration>
